In [1]:
import json
import os
import pandas as pd
import numpy as np

In [2]:
os.chdir('C:\\Users\\DELL\\Downloads\\Inueron assignment\\machine learning')

In [3]:
df=pd.read_csv('train_u6lujuX_CVtuZ9i (1).csv')

In [4]:
df.shape

(614, 13)

In [5]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [6]:
df.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [7]:
df.drop(columns=["Loan_ID"],inplace=True)

In [22]:
cat_cols=[col for col in df.columns if df[col].dtypes=="object"]

In [23]:
cat_cols

['Gender',
 'Married',
 'Dependents',
 'Education',
 'Self_Employed',
 'Property_Area',
 'Loan_Status']

In [10]:
num_col=cat_cols=[col for col in df.columns if df[col].dtypes!="object"]

In [11]:
num_col

['ApplicantIncome',
 'CoapplicantIncome',
 'LoanAmount',
 'Loan_Amount_Term',
 'Credit_History']

In [12]:
df["LoanAmount"].replace()

0        NaN
1      128.0
2       66.0
3      120.0
4      141.0
       ...
609     71.0
610     40.0
611    253.0
612    187.0
613    133.0
Name: LoanAmount, Length: 614, dtype: float64

In [13]:
for i in num_col:
    df[num_col]=df[num_col].replace(np.nan,df[num_col].mean())

In [14]:
df[['ApplicantIncome',
 'CoapplicantIncome',
 'LoanAmount',
 'Loan_Amount_Term',
 'Credit_History']].isnull().sum()

ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
dtype: int64

In [15]:
df.isnull().sum()

Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History        0
Property_Area         0
Loan_Status           0
dtype: int64

In [16]:
df.dropna(inplace=True)

In [17]:
df.isnull().sum()

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [18]:
df[df.duplicated()]

Empty DataFrame
Columns: [Gender, Married, Dependents, Education, Self_Employed, ApplicantIncome, CoapplicantIncome, LoanAmount, Loan_Amount_Term, Credit_History, Property_Area, Loan_Status]
Index: []

In [24]:
for col in cat_cols:
    print(col)
    print("\n")
    print(df[col].nunique())
    print("\n")
    print(df[col].unique())
    print("\n")

Gender


2


['Male' 'Female']


Married


2


['No' 'Yes']


Dependents


4


['0' '1' '2' '3+']


Education


2


['Graduate' 'Not Graduate']


Self_Employed


2


['No' 'Yes']


Property_Area


3


['Urban' 'Rural' 'Semiurban']


Loan_Status


2


['Y' 'N']

In [30]:
def feature_dependent_col(x):
    return int(x.split('+')[0])

In [36]:
df["Dependents"]=df["Dependents"].apply(feature_dependent_col)

In [37]:
df.dtypes

Gender                object
Married               object
Dependents             int64
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [38]:
cat_cols

['Gender',
 'Married',
 'Dependents',
 'Education',
 'Self_Employed',
 'Property_Area',
 'Loan_Status']

In [52]:
df_final=pd.get_dummies(df,columns=['Gender',
 'Married',
 'Education',
 'Self_Employed',
 'Property_Area',
],dtype=np.int64)

In [53]:
df_final["Loan_Status"]=df_final["Loan_Status"].apply(lambda x:["N","Y"].index((x)))

ValueError: 1 is not in list

In [54]:
df_final.head()

,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status,Gender_Female,Gender_Male,Married_No,Married_Yes,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,0,5849,0.0,146.412162,360.0,1.0,1,0,1,1,0,1,0,1,0,0,0,1
1,1,4583,1508.0,128.000000,360.0,1.0,0,0,1,0,1,1,0,1,0,1,0,0
2,0,3000,0.0,66.000000,360.0,1.0,1,0,1,0,1,1,0,0,1,0,0,1
3,0,2583,2358.0,120.000000,360.0,1.0,1,0,1,0,1,0,1,1,0,0,0,1
4,0,6000,0.0,141.000000,360.0,1.0,1,0,1,1,0,1,0,1,0,0,0,1

In [55]:
df_final.dtypes

Dependents                   int64
ApplicantIncome              int64
CoapplicantIncome          float64
LoanAmount                 float64
Loan_Amount_Term           float64
Credit_History             float64
Loan_Status                  int64
Gender_Female                int64
Gender_Male                  int64
Married_No                   int64
Married_Yes                  int64
Education_Graduate           int64
Education_Not Graduate       int64
Self_Employed_No             int64
Self_Employed_Yes            int64
Property_Area_Rural          int64
Property_Area_Semiurban      int64
Property_Area_Urban          int64
dtype: object

In [56]:
features=df_final.drop(columns=["Loan_Status"])

In [57]:
label=df["Loan_Status"]

In [58]:
from sklearn.preprocessing import StandardScaler

In [59]:
scaler=StandardScaler()

In [61]:
scaled_feature=pd.DataFrame(scaler.fit_transform(features),columns=features.columns)

In [62]:
from sklearn.model_selection import train_test_split

In [63]:
x_train,x_test,y_train,y_test=train_test_split(scaled_feature,label,test_size=0.20,random_state=42)

In [68]:
from sklearn.ensemble import RandomForestClassifier,GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score

In [65]:
rf=RandomForestClassifier()

In [66]:
rf.fit(x_train,y_train)

RandomForestClassifier()

In [69]:
pred_rf=rf.predict(x_test)

In [70]:
accuracy_score(y_test,pred_rf)

0.8108108108108109

In [71]:
grad=GradientBoostingClassifier()

In [72]:
grad.fit(x_train,y_train)

GradientBoostingClassifier()

In [74]:
pred_grad=grad.predict(x_test)

In [75]:
accuracy_score(y_test,pred_grad)

0.8468468468468469

In [76]:
log=LogisticRegression()

In [77]:
log.fit(x_train,y_train)

LogisticRegression()

In [79]:
pred_log=log.predict(x_test)

In [80]:
accuracy_score(y_test,pred_log)

0.8378378378378378

In [81]:
xgb=XGBClassifier()

In [82]:
xgb.fit(x_train,y_train)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=None, num_parallel_tree=None,
              predictor=None, random_state=None, ...)

In [84]:
pred_xgb=xgb.predict(x_test)

In [85]:
accuracy_score(y_test,pred_xgb)

0.8378378378378378

In [86]:
import pickle

In [87]:
with open("gradient_boosting_loan_status_prediction.pkl","wb") as file:
    pickle.dump(grad,file)