In [32]:
import json
import os
import pandas as pd
import numpy as np

In [2]:
os.chdir('C:\\Users\\DELL\\Downloads\\Inueron assignment\\machine learning')

In [3]:
df=pd.read_csv('online_shoppers_intention.csv')

In [4]:
df.shape

(12330, 18)

In [5]:
df.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,Feb,1,1,1,1,Returning_Visitor,False,False
1,0,0.0,0,0.0,2,64.000000,0.00,0.10,0.0,0.0,Feb,2,2,1,2,Returning_Visitor,False,False
2,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,Feb,4,1,9,3,Returning_Visitor,False,False
3,0,0.0,0,0.0,2,2.666667,0.05,0.14,0.0,0.0,Feb,3,2,2,4,Returning_Visitor,False,False
4,0,0.0,0,0.0,10,627.500000,0.02,0.05,0.0,0.0,Feb,3,3,1,4,Returning_Visitor,True,False

In [6]:
df.dtypes

Administrative               int64
Administrative_Duration    float64
Informational                int64
Informational_Duration     float64
ProductRelated               int64
ProductRelated_Duration    float64
BounceRates                float64
ExitRates                  float64
PageValues                 float64
SpecialDay                 float64
Month                       object
OperatingSystems             int64
Browser                      int64
Region                       int64
TrafficType                  int64
VisitorType                 object
Weekend                       bool
Revenue                       bool
dtype: object

In [7]:
df['Informational_Duration'].value_counts()

0.00      9925
9.00        33
7.00        26
10.00       26
6.00        26
          ...
246.80       1
274.00       1
13.40        1
223.15       1
211.25       1
Name: Informational_Duration, Length: 1258, dtype: int64

In [8]:
df["VisitorType"].value_counts()

Returning_Visitor    10551
New_Visitor           1694
Other                   85
Name: VisitorType, dtype: int64

In [9]:
df["Weekend"].value_counts()

False    9462
True     2868
Name: Weekend, dtype: int64

In [10]:
df['Revenue'].value_counts()

False    10422
True      1908
Name: Revenue, dtype: int64

In [11]:
df_true=df[(df["Weekend"]==True)&(df["Revenue"]==True)]

In [12]:
df_true["weekend_revenue"]=df_true["Weekend"]+df_true["Revenue"]

C:\Users\DELL\AppData\Local\Temp\ipykernel_2792\3869566322.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_true["weekend_revenue"]=df_true["Weekend"]+df_true["Revenue"]

In [13]:
df_true

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue,weekend_revenue
101,4,61.000000,0,0.000000,19,607.000000,0.000000,0.026984,17.535959,1.0,Feb,1,1,7,4,Returning_Visitor,True,True,True
199,3,94.000000,2,125.000000,55,1970.844805,0.000000,0.001724,96.255116,0.0,Mar,2,4,1,2,New_Visitor,True,True,True
200,1,32.000000,0,0.000000,50,2867.000000,0.000000,0.004000,153.443248,0.0,Mar,2,2,7,8,Returning_Visitor,True,True,True
262,1,158.000000,1,64.000000,29,1916.761905,0.006452,0.018710,8.772473,0.0,Mar,2,2,3,2,Returning_Visitor,True,True,True
265,0,0.000000,0,0.000000,63,5220.083333,0.000000,0.003330,51.463311,0.0,Mar,2,5,3,1,Returning_Visitor,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12221,12,317.628205,2,256.500000,81,3675.940705,0.006742,0.017421,11.622885,0.0,Dec,2,2,1,10,Returning_Visitor,True,True,True
12236,12,219.274359,4,857.166667,107,2640.135697,0.000000,0.015490,6.479206,0.0,Nov,1,2,1,2,Returning_Visitor,True,True,True
12265,6,413.499612,0,0.000000,83,6072.032391,0.007059,0.024024,1.240071,0.0,Nov,3,2,8,1,Returning_Visitor,True,True,True
12272,6,133.466667,0,0.000000,44,2664.445833,0.002041,0.010884,97.860836,0.0,Nov,2,2,1,3,Returning_Visitor,True,True,True
12312,7,150.357143,1,9.000000,221,11431.001240,0.011149,0.021904,1.582473,0.0,Nov,2,5,1,2,Returning_Visitor,True,True,True

In [14]:
df_true.index

Int64Index([  101,   199,   200,   262,   265,   276,   281,   408,   416,
              457,
            ...
            12130, 12143, 12191, 12202, 12216, 12221, 12236, 12265, 12272,
            12312],
           dtype='int64', length=499)

In [15]:
df_false=df.drop(index=df_true.index)

In [16]:
df_false["weekend_revenue"]=df_false["Weekend"]*df_false["Revenue"]

In [18]:
df_final=pd.concat((df_false,df_true),axis=0)

In [22]:
df_final.drop(columns=["Weekend","Revenue"],inplace=True)

In [23]:
#feature engineering

In [24]:
from sklearn.preprocessing import OrdinalEncoder,LabelEncoder

In [26]:
df_final['Month'].unique()

array(['Feb', 'Mar', 'May', 'Oct', 'June', 'Jul', 'Aug', 'Nov', 'Sep',
       'Dec'], dtype=object)

In [27]:
df_final["Month"]=df_final['Month'].apply(lambda x:['Feb', 'Mar', 'May', 'Oct', 'June', 'Jul', 'Aug', 'Nov', 'Sep',
       'Dec'].index((x)))

In [30]:
df_final["weekend_revenue"]=df_final["weekend_revenue"].apply(lambda x:[False,True].index((x)))

In [31]:
df_final["weekend_revenue"].value_counts()

0    11831
1      499
Name: weekend_revenue, dtype: int64

In [37]:
df=pd.get_dummies(df_final,columns=["VisitorType"],drop_first=True,dtype=np.int64)

In [38]:
df.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,weekend_revenue,VisitorType_Other,VisitorType_Returning_Visitor
0,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,0,1,1,1,1,0,0,1
1,0,0.0,0,0.0,2,64.000000,0.00,0.10,0.0,0.0,0,2,2,1,2,0,0,1
2,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,0,4,1,9,3,0,0,1
3,0,0.0,0,0.0,2,2.666667,0.05,0.14,0.0,0.0,0,3,2,2,4,0,0,1
4,0,0.0,0,0.0,10,627.500000,0.02,0.05,0.0,0.0,0,3,3,1,4,0,0,1

In [39]:
df.dtypes

Administrative                     int64
Administrative_Duration          float64
Informational                      int64
Informational_Duration           float64
ProductRelated                     int64
ProductRelated_Duration          float64
BounceRates                      float64
ExitRates                        float64
PageValues                       float64
SpecialDay                       float64
Month                              int64
OperatingSystems                   int64
Browser                            int64
Region                             int64
TrafficType                        int64
weekend_revenue                    int64
VisitorType_Other                  int64
VisitorType_Returning_Visitor      int64
dtype: object

In [45]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [41]:
features=df.drop(columns=["weekend_revenue"])

In [42]:
label=df["weekend_revenue"]

In [46]:
scaler=StandardScaler()

In [47]:
scaled_features=pd.DataFrame(scaler.fit_transform(features),columns=features.columns)

In [48]:
x_train,x_test,y_train,y_test=train_test_split(scaled_features,label,test_size=0.20,random_state=42)

In [49]:
rf=RandomForestClassifier()

In [50]:
rf.fit(x_train,y_train)

RandomForestClassifier()

In [54]:
pred_rf=rf.predict(x_test)

In [57]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [58]:
accuracy_score(y_test,pred_rf)

0.9582319545823196

In [59]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import AdaBoostClassifier

In [60]:
grad=GradientBoostingClassifier()

In [61]:
grad.fit(x_train,y_train)

GradientBoostingClassifier()

In [62]:
pred_grad=grad.predict(x_test)

In [63]:
accuracy_score(y_test,pred_grad)

0.9582319545823196

In [64]:
adaboost=AdaBoostClassifier()

In [65]:
adaboost.fit(x_train,y_train)

AdaBoostClassifier()

In [66]:
pred_ada=adaboost.predict(x_test)

In [67]:
accuracy_score(y_test,pred_ada)

0.9570154095701541